.modal-header
  background: $color-1
  color: $color-2
  i
    color: $color-2

.modal-body
  background: $color-1

.modal-footer
  //background: $color-1

#list-competencias
    height: 350px
    overflow-y: scroll