html {
  height: unset !important;
  min-height: 100% !important;
  position: relative !important; }

body {
  background: #1697ac;
  font-family: "Rajdhani", sans-serif; }

.section-content {
  margin-top: 55px;
  margin-bottom: 120px; }

.section-footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  color: #1697ac;
  -webkit-box-shadow: 0px -2px 30px 1px black;
  -moz-box-shadow: 0px -2px 30px 1px black;
  box-shadow: 0px -2px 30px 1px black; }
  .section-footer i {
    color: #1697ac; }
  .section-footer .wrp-logo {
    width: 85px;
    height: auto; }

.section-nav {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.72);
  border-color: #1697ac; }
  .section-nav .navbar-nav > li > a {
    color: #1697ac;
    letter-spacing: 0.5px;
    font-weight: 500; }
    .section-nav .navbar-nav > li > a:focus {
      color: #ffffff;
      background-color: #1697ac; }
    .section-nav .navbar-nav > li > a:hover {
      color: #ffffff;
      background-color: #1697ac; }
  .section-nav .navbar-nav > .active > a {
    color: #ffffff;
    background-color: #1697ac; }
    .section-nav .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #1697ac; }
    .section-nav .navbar-nav > .active > a:hover {
      color: #ffffff;
      background-color: #1697ac; }
  .section-nav .navbar-header a {
    padding: 5px 0px; }
  .section-nav .navbar-header .wrp-logo {
    width: 85px;
    height: auto; }

.section-content .block-1 {
  background: #ffffffd1; }
.section-content h1 {
  color: #e67458;
  float: left; }

.modal-header {
  background: #ffffff;
  color: #1697ac; }
  .modal-header i {
    color: #1697ac; }

.modal-body {
  background: #ffffff; }

#list-competencias {
  height: 350px;
  overflow-y: scroll; }

/*# sourceMappingURL=main.css.map */
